html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Yii styles end here */

div#rating-holder {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

span#the-rating {
    font-weight: 400;
}

span.rating-up {
    font-size: 50%;
    color: lightgreen;
    vertical-align: top;
    font-weight: 400;
}

span.rating-down {
    font-size: 50%;
    color: indianred;
    vertical-align: top;
    font-weight: 400;
}

div.body-content {
    margin-top: 10px;
}

div.member {
    overflow: auto;
}

img.avatar {
    width: 50%;
    float: left;
    padding: 0 10px 10px 0;
    overflow: auto;
}

img#image-swh {
    vertical-align: top;
    position: relative;
    top: -10px;
    height: 40px;
}

audio#radio {
    position: relative;
    top: -5px;
}

span#radio-title {
    margin-right: 7px;
    vertical-align: top;
}

div.rockstars-animated {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    left: 0;
    top: -15px;
}

h1#rockstars-animated {
    width: 100%;
    text-align: center;
    font-size: 128px;
    display: table-cell;
    vertical-align: middle;
}

img#logo {
    height: 35px;
    width: 35px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -7.5px;
}

a#brand {
    float: left;
    margin-left: -30px;
    font-size: 16px;
}

.container {
    max-width: 9999px !important;
}

div.event {
    position: relative;
    width: 450px;
    margin: auto;
    padding-top: 15px;
}

div.event:hover {
    background-color: #f5f5f5;
}

div.event > img {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    vertical-align: top;
}

div.event > hr {
    margin: 15px 0 0 0;
}

div.event-info {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

div.event-info > h2 {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 22px;
    letter-spacing: 2px;
    color: #888;
    font-weight: 300;
}

div.first-event > div.event-info > h2 {
    font-weight: 400 !important;
}

div.first-event > div.event-info > span {
    font-weight: 400 !important;
}

div.event-info > span {
    margin: 0 0 0 15px;
}

div#events-index {

}

div.event-date {
    display: inline-block;
    text-align: justify;
}

div.event-date > p:first-child {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: -5px;
    text-align: center;
}

div.event-date > p:nth-child(2) {
    margin: 0;
    text-align: center;
    font-weight: 400;
    margin-bottom: -7px;
    letter-spacing: 6px;
    color: #555;
    text-transform: uppercase;
}

div.event-date > comment {
    background-color:red;
    width:100%;
    height:8px;
    display:inline-block;
}

h2#upcoming-events {
    margin: 0 0 1px 0;
    font-weight: 300;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 0 10px 10px;
    background-color: #f5f5f5;
}

div.event-header {
    position: relative;
    width: 450px;
    margin: auto;
}

div.event-header > comment {
    font-size: 12px;
    float: right;
    color: #ccc;
    margin-top: 5px;
}

g.highcharts-color-0 > rect:nth-child(2n) {
    fill: #4c85cc;
}

@media screen and (min-width: 451px)   {
img.team-logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;

    border: 3px solid #ccc;
    box-shadow: 2px 1px #888;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

    margin-right: 5px;
    margin-left: 5px;
}
}

@media screen and (max-width: 450px)   {
    img.team-logo {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

        margin-right: 5px;
        margin-left: 5px;
    }
}


@media screen and (min-width: 450px) {
    span.team1 {
        display: inline-block;
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 16px;
    }

    span.team2 {
        display: inline-block;
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    span.team1 {
        display: inline-block;
        text-align: center;
        padding: 0;
        font-size: 16px;
    }

    span.team2 {
        display: inline-block;
        text-align: center;
        padding: 0;
        font-size: 16px;
    }
}

div.tourney {
    text-align: center;
}

span.team-name {
    display: block;
    margin-top: 12px;
    color: #333;
}
span.vs {
    position: relative;
    top: -55px;
    font-weight: bold;
    font-size: 36px;
    color: #555;
    text-shadow: 0 1px #777;
}




@media screen and (min-width: 451px) {
    div.tourney-info {
        color: #ccc;
        margin-top: -57px;
        font-size: 11px;
    }
}

@media screen and (max-width: 450px) {
    span.vs {
        position: relative;
        top: -45px;
        font-weight: bold;
        font-size: 20px;
        color: #555;
        text-shadow: 0 1px #777;
    }
}

@media screen and (max-width: 450px) {
    div.tourney-info {
        display: none;
    }
}


div.tourney-inner-wrapper {
    padding: 15px 25px 47px 25px;
    display: inline-block;
    border-bottom: 1px solid  #f5f5f5;
}


div.tourney-inner-wrapper:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

div.tourney-match {
    display: inline-block;
    padding: 10px 15px 15px 10px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

div.tourney-match:hover {
    background-color: #f5f5f5;
}

div.match-content > iframe {
    width: 300px;
    height: 211px;
}

div.other-matches-are-finished {
    width: 300px;
    height: 211px;
    line-height: 190px;
    text-align: center;
    font-size: 150px;
    color: #555;
    text-shadow: 0 1px #777;
}

span.player-won {
    font-weight: bold;
}

span.tourney-match-score {
    color: #333;
}

span.tourney-team {
    display: inline-block;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

@media screen and (min-width: 451px) {
    img.tourney-team-logo {
        width: 75px;
        height: 75px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    }
}

@media screen and (max-width: 450px) {
    img.tourney-team-logo {
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    }
}

span.tourney-score {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    color: #333;
    text-shadow: 0 1px #555;
    top: 7px;
}

div#tourney-score {
    text-align: center;
    margin-bottom: 25px;
}

div#tourney-general-info {
    color: #777;
    padding-top: 12px;
    padding-bottom: 12px;
}


div#tourney-general-info a {
    color: #777;
}

div#tourney-general-info h4 {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width: 450px) {
    span.tourney-finished {
        display: block;
        margin-top: -20px;
        color: #ccc;
    }
}

@media screen and (max-width: 450px) {
    span.tourney-finished {
        display: none;
    }
}

div#tourney-general-info table {
    font-size: 12px;
}

div#tourney-general-info table td {
    padding-right: 10px;
}

div#tourney-general-info table td:nth-child(2) {
    font-weight: 500;
}

div#tourney-general-info table caption {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}


div.round-number {
    padding: 10px 0 10px 19px;
    font-size: 26px;
    background-color: #f5f5f5;
    margin: 10px 0 10px 0;
    font-weight: 500;
}

div#games-title {
    color: #333;
    margin: 35px 0 15px 0;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}

span.round-score {
    font-size: 16px;
    float: right;
    color: #ccc;
    padding-right: 19px;
    line-height: 37px;
    font-weight: normal;
}

span.round-playing {
    color: #ccc;
    font-weight: normal;
    font-size: 16px;
}

a.admin-button {
    float: right;
}

div.pairings {
    width: 310px;
    margin: 0 0 0 15px;
    font-size: 10px;
    color: #ccc;
}

div.pairings > a {
    color: #ccc;
    font-weight: 400;
}

a.logout-link {
    padding: 16px 0 0 7px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5) !important;
}

div#tactics-level-list {
    width: 50%;
    margin: 50px auto 0 auto;
}

div.level-title {
    font-size: 32px;
    color: #333;
}

div.level-description {
    color: #777;
}

div.tactics-level {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

div.tactics-level:hover {
    background-color: #f5f5f5;
}

a.tactics-level:hover, a.tactics-level:visited {
    text-decoration: none;
}

div#tests-list {
    width: 50%;
    margin: auto;
}

a.tactics-test {
    color: #777;
    font-size: 13px;
}

a.tactics-test:hover, a.tactics-test:visited {
    text-decoration: none;
}

div.tactics-test {
    #text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    font-size: 18px;
    border-right: solid 5px white;
    cursor: pointer;
    position: relative;
    transition: left 0.2s;
    top: 0px;
    left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.tactics-test:hover {
    background-color: #eaeaea;
    #top: -2px;
    left: -3px;
}

div#start-test {
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

div#start-test span {
    width: 150px;
    height: 40px;
    background-color: #f5f5f5;
    line-height: 40px;
    color: #777;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: left 0.2s;
    left: 0;
}

div#start-test span:hover {
    background-color: #eaeaea;
    left: -3px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 850px !important;
    }
}

div.countdown {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    line-height: 40px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: all 0.9s;
    left: 0;
    top: 0;
    font-size: 128px;
}

img#img-position {
    width: 300px;
    height: 300px;
    display: block;
    margin: 10px auto 10px auto;
}

div#test-container {
    width: 100%;
    text-align: center;
}

div#test-container > .btn:nth-child(3) {
    margin-left: 15px;
    float: left;
}

div#test-container > .btn:nth-child(4) {
    float: right;
}

#tactics-timer {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.1px;
}

div#answer-holder {
    background-color: #f5f5f5;
    padding: 10px 0;
    margin: 0 0 10px 15px;
    text-align: center;
}

div#answer-holder input {
    width: 75%;
    margin: auto;
}

span#your-result {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #333;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -10px;
}

h2.score-title {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin-top: 0;
}

table#tactics-best td {
    padding-right: 10px;
}

table#tactics-best td a {
    color: #777;
}

table#tactics-best td:first-child {
    padding-bottom: 2px;
}

div#score-content {
    margin-top: 40px;
}

div#score-content table caption {
    margin-top: 0;
}

div#tactics-comment {
    text-align: center;
    color: #777;
}

div.result-answer b {
    font-weight: normal;
}

div.result-answer {
    color: #777;
}

div.wrong i {
    color: red;
    font-size: 10px;
}

div.correct i {
    color: green;
    font-size: 10px;
}

div.result-answer s {
    color: red;
}

div.correct  {
    color: #777;
}

div.result-answer p {
    display: inline;
}

div.wrong p {
    color: red;
}

div.wrong b {
    margin-left: 2px;
}

div#result-answers {
    position: relative;
}

img#img-result-board {
    position: absolute;
    top: -5px;
    width: 210px;
    height: 210px;
    left: 120px;
    z-index: 1;
    padding: 5px;
    background: white;
}

div.result-answer {
    user-select: none;
    cursor: pointer;
}

div.result-answer span {
    padding: 2px 5px 2px 3px;
}

div.result-answer:hover span {
    background-color: #f5f5f5;
}

div.result-answer.selected span{
    background-color: #f5f5f5;
}

div#avatar {
    position: relative;
}

img#avatar-image {
    width: 180px;
    height: 180px;
    border: 1px solid #ddd;
}

div#profile-wrapper {
    margin: 30px auto 50px 40px;
    text-align: left
}

div#profile-left-column {
    width: 200px;
    display: inline-block;
    float: left;
}

div#profile-right-column {
    display: block;
    margin-left: 200px;
    vertical-align: top;
}

.navbar-inverse .navbar-toggle {
    border-color: white !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #6ba4db !important;
}

h2.section-title {
    margin: 30px 0 0 0;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
    user-select: none;
}

h2#profile-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-top: 0;
    user-select: none;
}

div#profile-description {
    color: #777;
    font-size: 14px;
    position: relative;
}

div#profile-description .edit-link {
    visibility: hidden;
}

div#profile-description.owner:hover .edit-link {
    visibility: visible;
}

div#avatar .edit-link {
    visibility: hidden;
}

div#avatar.owner:hover .edit-link {
    visibility: visible;
    right: 22px;
    top: 2px;
}


.edit-link::after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e065";
    color: #7cb5ec;
    font-size: 16px;
}

.edit-link {
    position: absolute;
    top: 0;
    right: -25px;
}

.owner {
    cursor: pointer;
}

input#avatar-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

span.rating {
    width: 49%;
    display: inline-block;
}

h2.left-column-title {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

div#the-chart {
    position: relative;
    top: -32px;
}

div#the-chart div svg.highcharts-root {
    position: relative;
    top: 15px;
    left: -20px;
    overflow: auto;
}

div#the-chart:after {
    content: '';
    height: 55px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 45px;
    background-color: #ddd;
}

div#the-chart:before {
    content: '';
    width: 160px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ddd;
}

div#the-chart div.highcharts-container {
    overflow: visible !important;
}

span#add-game {
    color: #7cb5ec;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
    visibility: hidden;
}

div#notable-games h2:hover span.owner#add-game {
    visibility: visible;
}

@media (max-width: 767px) {
    span.button-add {
        visibility: visible !important;
    }
}

div.notable-game {
    width: 214px;
    height: 214px;
    overflow: hidden;
    #display: inline-block;
    #margin-left: 20px;
}

div.notable-game-container {
    display: inline-block;
    padding: 15px 10px 0 0;
    #cursor: pointer;
    color: #333;
    margin-right: 0;
    position: relative;
    vertical-align: top;
}

span.nb-description {
    color: #777;
    #font-style: italic;
    #height: 214px;
    display: inline-block;
    width: 224px;
    overflow: scroll;
    #float: left;
    #text-align: justify;
    padding: 3px 7px;
    #background-color: #f5f5f5;
    height: 60px;
}

div#notable-games-container {
    margin-left: 25px;
    margin-top: 20px;
}

div#notable-games-container span:first-child {
    display: block;
    margin: 0;
    color: #ccc;
}

div.notable-game-container i {
    visibility: hidden;
    position: absolute;
    right: 0;
    color: #6ba4db;
    top: 14px;
    font-size: 19px;
    cursor: pointer;
}

div.notable-game-container.owner:hover i {
    visibility: visible;
}

div.upcoming-event-date {
    display: inline-block;
    text-align: justify;
}

div.upcoming-event-date > p:first-child {
    margin: -2px 0 0 0;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
}

div.upcoming-event-date > p:nth-child(2) {
    margin: 0;
    text-align: center;
    font-weight: 400;
    margin-bottom: -10px;
    letter-spacing: 3px;
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    width: 33px;
}

div.upcoming-event-date > comment {
    background-color: red;
    width: 100%;
    height: 4px;
    display: inline-block;
}

div.upcoming-event-header {
    position: relative;
    width: 450px;
    margin: auto;
}

div.upcoming-event-header > comment {
    font-size: 12px;
    float: right;
    color: #ccc;
    margin-top: 5px;
}

div.upcoming-event {
    position: relative;
    padding-top: 5px;
    #width: 450px;
}

div.upcoming-event > img {
    display: inline-block;
    width: 45px;
    height: 45px;
    #border-radius: 50%;
    vertical-align: top;
    margin-left: 3px;
}

div.upcoming-event > hr {
    margin: 15px 0 0 0;
}

div.upcoming-event-info {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    margin-left: 5px;
}


div.upcoming-event-info > h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
    font-weight: 400;
}

div.upcoming-event-info > span {
    margin: 0;
    font-size: 12px;
}

div#upcoming-events-list {
    margin: 15px 0 0 25px;
}

div#upcoming-events-list span:first-child {
    display: block;
    margin: 0;
    color: #ccc;
}

div#private-contacts-list {
    margin: 15px 0 0 25px;
}

div#private-contacts-list input {
    width: auto;
    height: 28px;
    display: inline-block;
}

div#private-contacts-list label {
    width: 70px;
    color: #777;
}

div#private-contacts-list div {
    margin-bottom: 6px;
}

div#private-contacts-list hr {
    margin: 7px 0;
}

span.hint {
    color: #777;
    font-size: 10px;
    display: block;
    margin-top: -5px;
}

div#private-contacts-list button {
    margin-top: 10px;
}

span#profile-stars {
    margin-bottom: 2px;
    display: block;
    user-select: none;
    padding-right: 10px;
}

span#profile-stars img {
    display: inline-block;
    width: 21px;
    height: 21px;
}

span#profile-stars i {
    font-size: 23px;
    color: #ccc;
    transition-property: color;
    transition-duration: 0.2s;
}

span#profile-stars i:not(.star-off):nth-child(1) {
    transition-delay: 0.6s;
}

span#profile-stars i:not(.star-off):nth-child(2) {
    transition-delay: 0.7s;
}

span#profile-stars i:not(.star-off):nth-child(3) {
    transition-delay: 0.8s;
}

span#profile-stars i:not(.star-off):nth-child(4) {
    transition-delay: 0.9s;
}

span#profile-stars i:not(.star-off):nth-child(5) {
    transition-delay: 1s;
}

div#rockstar-rating-holder {
    margin-top: -25px;
}

@media (max-width: 768px) {
    div#profile-left-column {
        float: none;
        margin-left: -40px;
        display: block;
        width: auto;
    }

    div#profile-right-column {
        margin-left: -40px;
        margin-top: 30px;
    }

    div#notable-games {
        display: none; /* lichess iframes sucks on mobile, maybe test it later */
    }

    div#profile-description {
        margin-bottom: 20px;
    }

    div#profile-lichess-ratings {
        width: 180px;
    }

    span.rating-value {
        text-align: right;
        width: 48%;
    }

    span.edit-link {
        display: none;
    }
}

img.round {
    border-radius: 50%;
}

h2.member-name a, h2.member-name a:hover, h2.member-name a:visited {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    letter-spacing: 0;
}

input#private-sms {
    margin: 5px 5px 5px 0;
}

div#verify-img {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

div#verify-img img {
    width: 300px;
    height: 313px;
}

div#board {
    display: inline-block;
    vert-align: top;
    width: 286px;

}

div#verify-content-wrapper {
    text-align: center;
    margin-top: 35px;
}

div#verify-content {
    display: inline-block;
}

div#verify-buttons-holder{
    text-align: right;
}

input[name=fen] {
    width: 520px;
    font-size: 12px;
    display: inline-block;
    margin-top: 15px;
}

label[for=fen] {
    margin-top: 20px;
    margin-right: 10px;
    width: auto;
}

label[for=isBlackToMove] {
    margin-left: 15px;
}

div#verify-content form {
    text-align: left;
}

input[name=isBlackToMove] {
    margin-left: 15px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-right: 5px solid #3498db; /* Blue */

    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    width: 30px;
    height: 30px;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.loading-holder {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 91.83px;
    text-align: center;
}

button#btn-recognized {
    display: none;
}

div#board {
    width: 400px;
}

.highlight1-32417, .highlight2-9c5d2 {
    box-shadow: none !important;
}

.move-dest{
    background:radial-gradient(rgba(20,85,30,0.3) 17%,#208530 0,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 0);
}

.black-3c85d {
    background-color: #7cb5ec !important;
    color: #ccc !important;
}

.white-1e1d7 {
    background-color: white !important;
    color: #ccc !important;
}

div#pos-number {
    font-size: 18px;
    margin-top: 10px;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.enlarge {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
}

ul#answers-list {
    float: left;
    list-style: none;
    position: absolute;
    margin-top: 35px;
    padding: 5px 0 5px 0;
    background: #f5f5f5;

}

ul#answers-list li {
    background: #f5f5f5;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #777;
    text-align: left;
}

ul#answers-list li:hover {
    background-color: #eaeaea;
}


.chessdrop {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation-name: chessdrop;
    animation-name: chessdrop;
    animation-duration: 0.4s !important;
}

.chessdrop-left {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation-name: chessdrop-left;
    animation-name: chessdrop-left;
    animation-duration: 0.4s !important;
}

@keyframes chessdrop {
    30% {
        -webkit-transform: rotate3d(1, 0.5, 1, -12deg);
        transform: rotate3d(1, 0.5, 1, -12deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0.5, 1, 8deg);
        transform: rotate3d(1, 0.5, 1, 8deg);
    }

    90% {
        -webkit-transform: rotate3d(1, 0.5, 1, -3deg);
        transform: rotate3d(1, 0.5, 1, -3deg);
    }
    
    to {
        -webkit-transform: rotate3d(1, 0.5, 1, 0deg);
        transform: rotate3d(1, 0.5, 1, 0deg);
    }
}

@keyframes chessdrop-left {
    30% {
        -webkit-transform: rotate3d(1, 0.5, 1, 12deg);
        transform: rotate3d(1, 0.5, 1, 12deg);
    }

    60% {
        -webkit-transform: rotate3d(1, 0.5, 1, -8deg);
        transform: rotate3d(1, 0.5, 1, -8deg);
    }

    90% {
        -webkit-transform: rotate3d(1, 0.5, 1, 3deg);
        transform: rotate3d(1, 0.5, 1, 3deg);
    }

    to {
        -webkit-transform: rotate3d(1, 0.5, 1, 0deg);
        transform: rotate3d(1, 0.5, 1, 0deg);
    }
}

div#result-board {
    position: absolute;
    top: -5px;
    width: 210px;
    height: 210px;
    left: 120px;
    z-index: 1;
    padding: 5px;
}
