html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

div#rating-holder {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

span#the-rating {
    font-weight: 400;
}

span.rating-up {
    font-size: 50%;
    color: lightgreen;
    vertical-align: top;
    font-weight: 400;
}

span.rating-down {
    font-size: 50%;
    color: indianred;
    vertical-align: top;
    font-weight: 400;
}

div.body-content {
    margin-top: 10px;
}

div.member {
    overflow: auto;
}

img.avatar {
    width: 50%;
    float: left;
    padding: 0 10px 10px 0;
    overflow: auto;
}

img#image-swh {
    vertical-align: top;
    position: relative;
    top: -10px;
    height: 40px;
}

audio#radio {
    position: relative;
    top: -5px;
}

span#radio-title {
    margin-right: 7px;
    vertical-align: top;
}

div.rockstars-animated {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    left: 0;
    top: -15px;
}

h1#rockstars-animated {
    width: 100%;
    text-align: center;
    font-size: 128px;
    display: table-cell;
    vertical-align: middle;
}

img#logo {
    height: 35px;
    width: 35px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -7.5px;
}

a#brand {
    float: left;
    margin-left: -30px;
    font-size: 16px;
}

.container {
    max-width: 9999px !important;
}

div.event {
    position: relative;
    width: 450px;
    margin: auto;
    padding-top: 15px;
}

div.event:hover {
    background-color: #f5f5f5;
}

div.event > img {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    vertical-align: top;
}

div.event > hr {
    margin: 15px 0 0 0;
}

div.event-info {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

div.event-info > h2 {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 22px;
    letter-spacing: 2px;
    color: #888;
    font-weight: 300;
}

div.first-event > div.event-info > h2 {
    font-weight: 400 !important;
}

div.first-event > div.event-info > span {
    font-weight: 400 !important;
}

div.event-info > span {
    margin: 0 0 0 15px;
}

div#events-index {

}

div.event-date {
    display: inline-block;
    text-align: justify;
}

div.event-date > p:first-child {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: -5px;
    text-align: center;
}

div.event-date > p:nth-child(2) {
    margin: 0;
    text-align: center;
    font-weight: 400;
    margin-bottom: -7px;
    letter-spacing: 6px;
    color: #555;
    text-transform: uppercase;
}

div.event-date > comment {
    background-color:red;
    width:100%;
    height:8px;
    display:inline-block;
}

h2#upcoming-events {
    margin: 0 0 1px 0;
    font-weight: 300;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 0 10px 10px;
    background-color: #f5f5f5;
}

div.event-header {
    position: relative;
    width: 450px;
    margin: auto;
}

div.event-header > comment {
    font-size: 12px;
    float: right;
    color: #ccc;
    margin-top: 5px;
}

g.highcharts-color-0 > rect:nth-child(2n) {
    fill: #4c85cc;
}

@media screen and (min-width: 451px)   {
img.team-logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;

    border: 3px solid #ccc;
    box-shadow: 2px 1px #888;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

    margin-right: 5px;
    margin-left: 5px;
}
}

@media screen and (max-width: 450px)   {
    img.team-logo {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

        margin-right: 5px;
        margin-left: 5px;
    }
}


@media screen and (min-width: 450px) {
    span.team1 {
        display: inline-block;
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 16px;
    }

    span.team2 {
        display: inline-block;
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    span.team1 {
        display: inline-block;
        text-align: center;
        padding: 0;
        font-size: 16px;
    }

    span.team2 {
        display: inline-block;
        text-align: center;
        padding: 0;
        font-size: 16px;
    }
}

div.tourney {
    text-align: center;
}

span.team-name {
    display: block;
    margin-top: 12px;
    color: #333;
}
span.vs {
    position: relative;
    top: -55px;
    font-weight: bold;
    font-size: 36px;
    color: #555;
    text-shadow: 0 1px #777;
}




@media screen and (min-width: 451px) {
    div.tourney-info {
        color: #ccc;
        margin-top: -57px;
        font-size: 11px;
    }
}

@media screen and (max-width: 450px) {
    span.vs {
        position: relative;
        top: -45px;
        font-weight: bold;
        font-size: 20px;
        color: #555;
        text-shadow: 0 1px #777;
    }
}

@media screen and (max-width: 450px) {
    div.tourney-info {
        display: none;
    }
}


div.tourney-inner-wrapper {
    padding: 15px 25px 47px 25px;
    display: inline-block;
    border-bottom: 1px solid  #f5f5f5;
}


div.tourney-inner-wrapper:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

div.tourney-match {
    display: inline-block;
    padding: 10px 15px 15px 10px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

div.tourney-match:hover {
    background-color: #f5f5f5;
}

div.match-content > iframe {
    width: 300px;
    height: 211px;
}

div.other-matches-are-finished {
    width: 300px;
    height: 211px;
    line-height: 190px;
    text-align: center;
    font-size: 150px;
    color: #555;
    text-shadow: 0 1px #777;
}

span.player-won {
    font-weight: bold;
}

span.tourney-match-score {
    color: #333;
}

span.tourney-team {
    display: inline-block;
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

@media screen and (min-width: 451px) {
    img.tourney-team-logo {
        width: 75px;
        height: 75px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    }
}

@media screen and (max-width: 450px) {
    img.tourney-team-logo {
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;

        border: 3px solid #ccc;
        box-shadow: 2px 1px #888;
        box-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    }
}

span.tourney-score {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    color: #333;
    text-shadow: 0 1px #555;
    top: 7px;
}

div#tourney-score {
    text-align: center;
    margin-bottom: 25px;
}

div#tourney-general-info {
    color: #777;
    padding-top: 12px;
    padding-bottom: 12px;
}


div#tourney-general-info a {
    color: #777;
}

div#tourney-general-info h4 {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width: 450px) {
    span.tourney-finished {
        display: block;
        margin-top: -20px;
        color: #ccc;
    }
}

@media screen and (max-width: 450px) {
    span.tourney-finished {
        display: none;
    }
}

div#tourney-general-info table {
    font-size: 12px;
}

div#tourney-general-info table td {
    padding-right: 10px;
}

div#tourney-general-info table td:nth-child(2) {
    font-weight: 500;
}

div#tourney-general-info table caption {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}


div.round-number {
    padding: 10px 0 10px 19px;
    font-size: 26px;
    background-color: #f5f5f5;
    margin: 10px 0 10px 0;
    font-weight: 500;
}

div#games-title {
    color: #333;
    margin: 35px 0 15px 0;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}

span.round-score {
    font-size: 16px;
    float: right;
    color: #ccc;
    padding-right: 19px;
    line-height: 37px;
    font-weight: normal;
}

span.round-playing {
    color: #ccc;
    font-weight: normal;
    font-size: 16px;
}

a.admin-button {
    float: right;
}

div.pairings {
    width: 310px;
    margin: 0 0 0 15px;
    font-size: 10px;
    color: #ccc;
}

div.pairings > a {
    color: #ccc;
    font-weight: 400;
}

a.logout-link {
    padding: 16px 0 0 7px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5) !important;
}

div#tactics-level-list {
    width: 50%;
    margin: 50px auto 0 auto;
}

div.level-title {
    font-size: 32px;
    color: #333;
}

div.level-description {
    color: #777;
}

div.tactics-level {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

div.tactics-level:hover {
    background-color: #f5f5f5;
}

a.tactics-level:hover, a.tactics-level:visited {
    text-decoration: none;
}

div#tests-list {
    width: 50%;
    margin: auto;
}

a.tactics-test {
    color: #777;
    font-size: 13px;
}

a.tactics-test:hover, a.tactics-test:visited {
    text-decoration: none;
}

div.tactics-test {
    #text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    font-size: 18px;
    border-right: solid 5px white;
    cursor: pointer;
    position: relative;
    transition: left 0.2s;
    top: 0px;
    left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.tactics-test:hover {
    background-color: #eaeaea;
    #top: -2px;
    left: -3px;
}

div#start-test {
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

div#start-test span {
    width: 150px;
    height: 40px;
    background-color: #f5f5f5;
    line-height: 40px;
    color: #777;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: left 0.2s;
    left: 0;
}

div#start-test span:hover {
    background-color: #eaeaea;
    left: -3px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 850px !important;
    }
}

div.countdown {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    line-height: 40px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: all 0.9s;
    left: 0;
    top: 0;
    font-size: 128px;
}

img#img-position {
    width: 300px;
    height: 300px;
    display: block;
    margin: 10px auto 10px auto;
}

div#test-container {
    width: 300px;
    height: 300px;
    margin: auto;
}

div#test-container > .btn:nth-child(3) {
    margin-left: 15px;
    float: left;
}

div#test-container > .btn:nth-child(4) {
    float: right;
}

#tactics-timer {
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-top: -5px;
    letter-spacing: 1.1px;
}

.btn-primary:hover {
    background-color: #6ba4db;
    border-color: #777;
}

.btn-primary {
    background-color: #7cb5ec;
    border-color: #999;
}

div#answer-holder {
    background-color: #f5f5f5;
    padding: 10px 0;
    margin: 0 0 10px 15px;
    text-align: center;
}

div#answer-holder input {
    width: 75%;
    margin: auto;
}

span#your-result {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #333;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -10px;
}

h2.score-title {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin-top: 0;
}

table#tactics-best td {
    padding-right: 10px;
}

table#tactics-best td a {
    color: #777;
}

div#score-content {
    margin-top: 40px;
}

div#score-content table caption {
    margin-top: 0;
}

div#tactics-comment {
    text-align: center;
    color: #777;
}