.navbar-inverse {
    background-color: #7cb5ec;
    border-color: #8dc6fd;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    margin-right: 1px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #7cb5ec;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #6ba4db;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #6ba4db;
}

